{% import "macros.html" as macros %}

{% extends "layout.html" %}

{% block article_body %}

<div class="graphic">

  <section class="candidates">
    <h2>The candidates</h2>

    <div class="candidates__list">
    {% for candidate in data.candidates %}
      <div class="candidate candidate--{{candidate.key}}">
        <div class="candidate__image candidate__image--{{candidate.key}}">
          {{ macros.imageServiceImg(
            original=candidate.images.normal,
            alt='Illustration of ' + candidate.name.first + ' ' + candidate.name.last,
            widths=[94, 130, 188, 260]
          ) }}
        </div>

        <div class="candidate__details">
          <h2 class="candidate__name">{{candidate.name.first}} {{candidate.name.last}}</h2>
          <h3 class="candidate__party-name">{{candidate.party}}</h3>

          <p class="candidate__description">{{candidate.description}}</p>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="candidates__read-more">
      <a role="button" href="https://ig.ft.com/sites/france-election/candidates/">
        Read full profiles of candidates
      </a>
    </div>
  </section>

  <section class="polls">
    <h2>Current state of the polls</h2>

    <figure class="polls__round-1">
      <div data-multi-time-series="{{charts.round1 | dump}}"></div>
    </figure>

    <div data-o-component="o-expander">
      <h2>The data</h2>

      <table class="polls__data-table o-expander__content">
        <thead>
          <tr>
            <td>Date</td>
            <td>Pollster</td>
            {% for candidate in data.candidates %}
            <td>{{ candidate.name.last }}</td>
            {% endfor %}
            <td>Sample*</td>
          </tr>
        </thead>
        <tbody>
          {% for poll in data.round1 %}
          <tr>
            <td class="polls__data-table__date">{{ poll.start | strftime('%b %-d') }}&ndash;{{ poll.end | strftime('%-d') }}</td>
            <td>{{ poll.pollster }}</td>
            {% for candidate in data.candidates %}
            <td>{{ (poll.result[candidate.key] | round(1)) + '%' if poll.result[candidate.key] else 'N/A' }}</td>
            {% endfor %}
            <td>{{ poll.sample }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <button class="o-expander__toggle">Show more polls</a>
    </div>

    <section class="polls__round-2">
      <div class="polls__round-2__intro">
        <h2>The run-off</h2>
        <p>Assuming no candidate wins 50% of the votes in the first round, a second round will be held on May 7. These charts show voter preference over time for the two most likely scenarios.</p>
      </div>

      <div class="polls__round-2__chart">
        <h3>
          <span class="color-lepen">Le Pen</span> vs <span class="color-macron">Macron</span>
        </h3>

        <figure>
          <div data-multi-time-series="{{charts.round2.scenario1 | dump}}"></div>
        </figure>
      </div>

      <div class="polls__round-2__chart">
        <h3>
          <span class="color-lepen">Le Pen</span> vs <span class="color-fillon">Fillon</span>
        </h3>
        <figure>
          <div data-multi-time-series="{{charts.round2.scenario2 | dump}}"></div>
        </figure>
      </div>
    </section>
  </section>

</div>
{% endblock %}
