{% extends "layout.html" %}

{% block article_body %}
{% set txt = (data.microcopy | first) %}

<section class="candidates">
  <h2 class="candidates--heading">The candidates</h2>

  <ul class="candidates--grid">
  {% set latestPoll = data.polls.data | sort(true, false, 'date') | first %}
  {% for candidate in data.candidates %}
    {% set candidateslug = (candidate.name.normalize('NFD') | replace(r/[\u0300-\u036f]/g, '') | replace(r/^[\w-]+\s/, '') | replace(r/\s/g, '') | lower) + '1' %}
    <li class="candidates--candidate candidates--candidate__{{candidate.name | slugify | lower}}">
      <img class="candidates--profile-image" src="images/FE--{{candidate.name | replace(r/^[\w-ç]+\s/, '') | replace(r/\s/g, '-')}}.png" />
      <div class="candidates--details">
        <h2 class="candidates--name">{{candidate.name}}</h2>
        <h3 class="candidates--party-polling candidates--party-polling__mobile">
          {{candidate.role | replace(r/\scandidate/i, '')}}{{ ' — Polling at ' + latestPoll[candidateslug] + '%' if latestPoll[candidateslug]}}
        </h3>
        {#<!-- this needs to be replaced with something shorter -->
        <p class="candidates--copy">{{candidate.copy | safe}}</p>#}
        <p class="candidates--copy">texttexttexttexttext</p> {# @TODO remove #}
      </div>
    </li>
  {% endfor %}
  </ul>
</section>

<section class="polls-and-data">
  <p>
    {{txt.pollintro}}
  </p>

  <h2 class="polls--heading">Current state of the polls</h2>
  <figure class="polls--current-state">
  </figure>

  <div class="polls-and-data--data-table o-expander" data-o-component="o-expander">
    <h2>The data</h2>
    <table class="polls-and-data--data-table o-expander__content">
      <thead>
        <tr>
          <td>Date</td>
          <td>Pollster</td>
          {% for candidate in data.candidates %}
          <td>{{ candidate.name | replace(r/^[\w-ç]+\s/, '') }}</td>
          {% endfor %}
          <td>Sample*</td>
        </tr>
      </thead>
      <tbody>
        {% for poll in data.polls.data %}
        <tr>
          <td class="polls-and-data--table-cell__date">{{ poll.startdate | strftime('%b %-d') }} – {{ poll.enddate | strftime('%-d') }}</td>
          <td>{{ poll.pollster }}</td>
          {% for candidate in data.candidates %}
          {% set candidateslug = (candidate.name.normalize('NFD') | replace(r/[\u0300-\u036f]/g, '') | replace(r/^[\w-]+\s/, '') | replace(r/\s/g, '') | lower) + '1' %}
          <td>{{ (poll[candidateslug] | round(1)) + '%' if poll[candidateslug] else 'N/A' }}</td>
          {% endfor %}
          <td>{{ poll.sample }}{# {{ poll.sample.type }}#}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <button class="o-expander__toggle">Show more polls</a>
  </div>

  <h2>Other scenarios...</h2>

  <h3 class="polls--heading">
    <span class="color--le-pen">Le Pen</span> vs <span class="color--macron">Macron</span>
  </h3>
  <figure class="polls--scenario-1"></figure>

  <h3 class="polls--heading">
    <span class="color--le-pen">Le Pen</span> vs <span class="color--fillon">Fillon</span>
  </h3>
  <figure class="polls--scenario-2"></figure>
</section>



{% endblock %}
