$o-expander-is-silent: false;

@import 'o-expander/main';
@import 'o-colors/main';
@import 'o-grid/main';
@import 'o-buttons/main';
@import 'o-icons/main';
@import 'components/core/main';
@import 'styles/candidate-vars';

$table-header-border-color: #979797;
$cell-date-color: #828282;
$cell-border-color: #CEC6B9;

@import './styles/candidates';
@import './styles/polls';
@import './styles/underlying-data';

.article-head {
  header {
    width: 100%;
    max-width: 1200px;

    > p {
      margin: 0 0 0.8em;
      max-width: 370px;
      font-size: 18px;
    }

    @include oGridRespondTo(M) {
      > p {
        margin: inherit;
        text-align: center;
      }
    }
  }
}

h1.o-typography-heading1 {
  font-size: 1.8em;
  line-height: 1;
  margin: 0.5em 0 0.2em;

  @include oGridRespondTo(S) {
    font-size: 2.4em;
  }

  @include oGridRespondTo(M) {
    text-align: center;
    font-size: 3em !important;
    line-height: 1.4em !important;
  }
}

.o-typography-lead {
  font-size: 1.6em !important;
  line-height: 1em;
}

.standfirst {
  padding: 0 10px;

  > p {
    line-height: 1.6em;
  }

  @include oGridRespondTo(M) {
    padding: 0 20px;

    > p {
      text-align: center;
      max-width: 780px;
      margin: 1.5em auto;
    }
  }
}

.graphic h2 {
  margin-top: 1em;
  font-size: 1.3em;

  @include oGridRespondTo(M) {
    font-size: 1.618em;
    text-align: center;
  }
}

.fr-pres-elec--topic {
  .fr-pres-elect--link__image {
    @include oGridColspan((default: hide, S: full-width));
    padding-left: 0 !important;

    img {
      width: 264px;
    }
  }

  .fr-pres-elect--link__text {
    padding-left: 0 !important;
    @include oGridColspan((default: full-width, S: hide))
  }
}

p.credit__illustrator, footer.o-typography-footer {
  max-width: none;
  margin: 0 !important;
  padding: 16px 10px !important;

  text-align: left;

  @include oGridRespondTo(M) {
    padding: 16px 64px !important;
  }
}

p.credit__illustrator {
  &:before {
    display: block;
    height: 1px;
    background-color: #ccc1b3;
    content: '';
    width: 4em;
  }

  span {
    font-family: MetricWeb, sans-serif;
    font-size: 0.85em;
    margin: 0.7em 0 0;
    display: block;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}
