// helper class for setting an element's text colour for a candidate
@each $slug, $color in $candidates {
  .color-#{$slug} { color: $color; }
}

.candidates {
  @include oGridContainer();
  max-width: 1200px;
  margin: 0 auto;

  &__list {
    padding: 0;

    @include oGridRespondTo(M) {
      display: flex;
      justify-content: center;
    }

    @include oGridRespondTo(M, $until: L) {
      max-width: 660px;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    @include oGridRespondTo(L) {
      justify-content: space-between;
    }
  }

  &__read-more {
    text-align: center;
    margin: 30px auto 30px;

    @include oGridRespondTo(M){
      margin: 30px auto 45px;
    }

    > a {
      @include oButtons();
      @include oButtonsSize(big);
    }
  }
}

.candidate {
  position: relative;

  @include oGridRespondTo($until: M) {
    min-height: 100px + 5px;
    padding-left: 100px + 5px;
  }

  @include oGridRespondTo(M) {
    width: 180px;
    margin: 10px 10px;
  }

  @include oGridRespondTo(L) {
    width: 200px;
  }

  @each $slug, $color in $candidates {
    &--#{$slug} .candidate__name {
      color: $color;
    }
  }

  &--eliminated {
    @include oGridRespondTo($until: L) {
      display: none;
    }

    * {
      color: oColorsGetPaletteColor('pink-tint4') !important;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: 100%;
    border: 1.5px solid transparent;
    box-sizing: border-box;
    width: 90px;
    height: 90px;

    @each $slug, $color in $candidates {
      .candidate--#{$slug} & { border-color: $color }
    }

    .candidate--eliminated & { border-color: oColorsGetPaletteColor('pink-tint3'); }

    @include oGridRespondTo($until: M) {
      position: absolute;
      left: 0;
      top: 10px;
    }

    @include oGridRespondTo(M) {
      margin: 0 auto;
      width: 130px;
      height: 130px;
      border-width: 2px;
    }

    > img {
      width: 100%;
      display: block;
    }
  }

  &__details {
    @include oGridRespondTo($until: M) {
      border-bottom: 1px solid #ccc;
      min-height: 100px;
      padding: 10px 0;
    }

    @include oGridRespondTo(M) {
      text-align: center;
    }
  }

  .candidate &__name {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
    @include oGridRespondTo(M) {
      margin-top: 0.5em;
    }
  }

  .candidate &__party-name {
    font-weight: 700;
    font-family: MetricWeb, sans-serif;
    padding-left: 0;
    font-size: 0.95em;

    .candidate__polling-at {
      display: none;

      @include oGridRespondTo($until: M) {
        display: inline;
      }
    }

    .candidate__betting-odds {
      display: block;
      line-height: .75em;
      padding-bottom: 0.5em;

      @include oGridRespondTo($from: M) {
        display: none;
      }
    }
  }

  .candidate &__description {
    font-size: 1em;
    line-height: 1.3em !important;
    color: #666;
    margin: 0 0 10px !important;

    @include oGridRespondTo(M){
      text-align: center !important;
    }
  }
}
