.polls {
  @include oGridContainer();

  overflow: hidden;

  &__warning-banner {
    padding: 1em 1.2em 1em 4em;
    border: 1px solid $cell-border-color;
    background: oColorsGetPaletteColor('pink-tint2');
    position: relative;
    min-height: 3em;
    line-height: 1.4em;

     @include oGridRespondTo(M) {
       margin: 1em auto;
       padding: 1em 4em 1em;
    }

    .polls__warning-icon {
      position: absolute;
      display: block;
      left: calc(2em - 16px);
      top: 22px;
      background-color: oColorsGetPaletteColor('pink-tint4') !important;
      border-radius: 3em;
      @include oIconsGetIcon('warning', oColorsGetPaletteColor('pink-tint2'), 16 * 2);
    }
  }

  &__chart-subhead {
    font-family: MetricWeb, sans-serif !important;
    color: oColorsGetPaletteColor('pink-tint5') !important;
  }

  .article-body & {
    max-width: none;

    @include oGridRespondTo(L) {
      padding: 0 4em;
    }
  }

  &__round-1 {
    [data-multi-time-series] {
      height: 400px;

      @include oGridRespondTo(L) {
        height: 450px;
      }
    }
  }

  &__round-2 {
    @include oGridRow;

    &__intro {
      @include oGridColspan(12);

      @include oGridRespondTo($until: M) {
        padding: 0 10px;
      }

      > p {
        max-width: 780px;
        margin: 0 auto;

        @include oGridRespondTo(M) {
          text-align: center;
        }
      }
    }

    &__chart {
      @include oGridColspan((default: 12, M: 6));
    }

    [data-multi-time-series] {
      height: 250px;
    }

    h3 {
      font-family: MetricWeb, sans-serif;
      font-weight: 600;
      margin-top: 30px;
    }
  }
}
  .polls__chart-note {
    font-family: MetricWeb, sans-serif;
    color: oColorsGetPaletteColor('pink-tint5');
    font-size: 0.9em;
    line-height: 1.5em;
  }
//
// .polls__bookies {
//   .polls__data-table-bookies {
//     overflow: scroll;
//     -webkit-overflow-scrolling: touch;
//     border-spacing: 0;
//     border-collapse: collapse;
//     @include oGridRespondTo($until: M) {
//       display: none;
//     }
//
//     @include oGridRespondTo($from: M) {
//       width: 100%;
//     }
//
//     thead tr th {
//       border-bottom: 1px solid $table-header-border-color;
//       border-right: 1px solid $cell-border-color;
//       font-size: 1.2em;
//       line-height: 1.2em;
//       text-align: center;
//       padding: .25em 1em;
//
//       &:last-child {
//         border-right: 0;
//       }
//     }
//
//     tbody td {
//       border-right: 1px solid $cell-border-color;
//       border-bottom: 1px solid $cell-border-color;
//       text-align: center;
//       padding: 0.5em 1em;
//       font-size: 1.2em;
//       line-height: 1.2em;
//
//       &:last-child {
//         border-right: 0;
//       }
//     }
//   }
// }

.o-expander__toggle {
  @include oButtons();
  @include oButtonsSize(big);
  display: inline-block;

  i {
    display: none;
  }
}

.o-expander__content {
  max-height: none;

  .js-success & {
    max-height: 190px;
    display: block;
    overflow-y: hidden;

    @include oGridRespondTo(L) {
      width: auto;
    }
  }

  &--expanded {
    .js-success & {
      max-height: none;
    }
  }
}

[data-multi-time-series] {
  .tick > text {
    font-size: 14px;
    font-family: MetricWeb, sans-serif;
  }

  // HACK: hide key-date markers on mobile, as they get squashed
  @include oGridRespondTo($until: M) {
    .key-date {
      visibility: hidden;
    }
  }
}
